@model IEnumerable<TodoApp.Models.Todo>

@{
    ViewData["Title"] = "Index";
    ViewData["Namespace"] = "Index";
}

<h1 class="text-center text-info">Todos</h1>

<h4>
    <a asp-action="Create" class="text-info">Create New</a>
</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Created At
            </th>
            <th>
                Content
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        int status = item.Status;
        <tr class="@(status == 0 ? "text-primary-emphasis" : "text-secondary")">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @if (status == 0)
                {   
                    <div>Open</div>
                }
                else
                {
                    <div>Done</div>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
